{% extends "layout.html"%}

{% block container %}


<div class="home-page"
     style="display:flex; flex-direction:column; gap:15px; align-items:center; justify-content:center; min-height:100vh;">

    <h1> this is the login page</h1>
    <!-- From Uiverse.io by mrhyddenn -->
    <button>
        <a href="/about">Hover me</a>
    </button>


    <!-- From Uiverse.io by mrhyddenn -->
    <button>
        <a>Hover me</a>
    </button>


    <!-- From Uiverse.io by mrhyddenn -->
    <button>
        <a>Hover me</a>
    </button>
</div>

{% endblock %}å